@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
}


.header {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
}

/* .content, .form, .result {
    border: 2px solid black;
} */

.form {
    float: left;
    width: 45%;
    text-align: center;
}

input {
    margin: auto;
}


.btn {
    width: 30%;
    margin: auto;
    padding: 20px 10px;
    background-color: #39C;
    text-align: center;
    color: #FFF;
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .6rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    user-select: none;
    transition: all .3s;
    cursor: pointer;
    float: left;
}

.btn:hover {
    transform: scale(1.06);
}

.btn:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
}

.num1 {
    margin-bottom: 15px;
}

.num1, .num2 {
    display: block;
    padding: 12px;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    border: 1.2px solid #39C;
    border-radius: 5px;
}

.num1:focus, .num2:focus {
    outline: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
}

.result {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    color: #000;
    text-align: center;
}

.error {
    color: rgb(207, 27, 27);
    transition: all .08s;
}

.wrapper {
    width: 95%;
    margin: auto;
}

.effect {
    animation: fadeIn ease 1.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}